div
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .col-12
            button.m-b-40.au-btn.au-btn-icon.au-btn--skoda.btn-block(type='button', name='button')
              i.zmdi.zmdi-plus
              | Přidat novou anketu
        //
          <div class="row">
          <div class="col-md-12">
          <div class="overview-wrap">
          <h2 class="title-1"></h2>
          <button class="au-btn au-btn-icon au-btn--blue">
          <i class="zmdi zmdi-plus"></i>Přidat novou anketu</button>
          </div>
          </div>
          </div>
        .row.m-b-40
          .col-lg-12
            .table-responsive.table-responsive-data2
              table.table.table-data2
                thead
                  tr
                    th Název
                    th Datum
                    th.text-right Počet otázek
                    th.text-right Vyplněné
                    th
                tbody
                  tr.tr-shadow
                    td.font-weight-bold Scala
                    td 2019-10-21
                    td.text-right 8
                    td.text-right 25
                    td
                      .table-data-feature
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-play
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-edit
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-delete
                  tr.spacer
                  tr.tr-shadow
                    td.font-weight-bold ARNC
                    td 2019-8-5
                    td.text-right 6
                    td.text-right 7
                    td
                      .table-data-feature
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-play
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-edit
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-delete
                  tr.spacer
                  tr.tr-shadow
                    td.font-weight-bold Rotary knobs
                    td 2019-9-11
                    td.text-right 10
                    td.text-right 12
                    td
                      .table-data-feature
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-play
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-edit
                        button.item(type='button', name='button')
                          i.zmdi.zmdi-delete
        .row
          .col-lg-12
            .au-card.au-card--no-pad
              .au-card-title
                .bg-overlay.bg-overlay--skoda
                h3 ARNC
                h6.ankta-date 12-12-2019
              .card-body
                .row
                  .col-lg-9
                    .vue-lists
                      ol
                        li Příjde Vám téma inovativní ?
                        li Byly by jste ochotni za inovaci zaplatit ?
                        li Přišla Vám prezentace atraktivní ?
                        li Příjde Vám téma inovativní ?
                        li Byly by jste ochotni za inovaci zaplatit ?
                        li Přišla Vám prezentace atraktivní ?
                        li Příjde Vám téma inovativní ?
                        li Byly by jste ochotni za inovaci zaplatit ?
                        li Přišla Vám prezentace atraktivní ?
                        li Příjde Vám téma inovativní ?
                        li Byly by jste ochotni za inovaci zaplatit ?
                        li Přišla Vám prezentace atraktivní ?
                  .col-lg-3.d-flex.flex-column.align-items-center
                    h5.m-b-20
                      | Počet výsledků
                      span.badge.badge-secondary 25
                    button.au-btn.au-btn-icon.au-btn--skoda.btn-block(type='button', name='button')
                      i.zmdi.zmdi-play
                      | Spustit
                    button.au-btn.au-btn-icon.au-btn--secondary.btn-block(type='button', name='button')
                      i.zmdi.zmdi-assignment
                      | Výsledky
                    button.au-btn.au-btn-icon.au-btn--secondary.btn-block(type='button', name='button')
                      i.zmdi.zmdi-edit
                      | Upravit
                    button.au-btn.au-btn-icon.au-btn--danger.btn-block(type='button', name='button')
                      i.zmdi.zmdi-delete
                      | Odstranit
      .row
        .col-md-12
          .copyright
            p
              | Copyright © 2018 Colorlib. All rights reserved. Template by 
              a(href='https://colorlib.com') Colorlib
              | .
