doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='au theme template')
    meta(name='author', content='Hau Nguyen')
    meta(name='keywords', content='au theme template')
    // Title Page
    title Registrace
    // Fontfaces CSS
    link(href='../../css/font-face.css', rel='stylesheet', media='all')
    link(href='../../vendor/mdi-font/css/material-design-iconic-font.min.css', rel='stylesheet', media='all')
    // Bootstrap CSS
    link(href='../../vendor/bootstrap-4.1/bootstrap.min.css', rel='stylesheet', media='all')
    // Vendor CSS
    link(href='../../vendor/animsition/animsition.min.css', rel='stylesheet', media='all')
    // Main CSS
    link(href='../../css/theme.css', rel='stylesheet', media='all')
    link(href='../../css/main2.css', rel='stylesheet', media='all')
  body.animsition
    .page-wrapper
      .page-content--bge5
        .container
          .login-wrap
            .login-content
              .login-logo
                a(href='#')
                  img(src='../../img/logo.png', alt='CoolAdmin')
              .login-form
                form(action='/users/register', method='post')
                  .form-group
                    label Uživatelské jméno
                    input.au-input.au-input--full(type='text', name='username', placeholder='Uživatelské jméno', required)
                  .form-group
                    label Heslo
                    input.au-input.au-input--full(type='password', name='password', placeholder='Heslo', required)
                  .form-group
                    label Ověření hesla
                    input.au-input.au-input--full(type='password', name='confirmed_password', placeholder='Heslo znovu', required)
                  button.au-btn.au-btn--block.au-btn--skoda.m-b-20(type='submit') Registrovat se
                .register-link
                  p
                    | Už máte účet?
                    a(href='#') Přihlásit se
    // Jquery JS
    script(src='../../vendor/jquery-3.2.1.min.js')
    // Bootstrap JS
    // Vendor JS
    script(src='../../vendor/animsition/animsition.min.js')
    // Main JS
    script(src='../../js/main2.js')
    // end document
