doctype html
html(lang='cz', dir='ltr')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  body
    div.content-container
      div.main-container
        div.navbar
          div.navbar-item.navbar-item-active
            i.navbar-item-icon.fas.fa-home
          div.navbar-item
            i.navbar-item-icon.fas.fa-bars
          div.navbar-item.navbar-item-cluster
            div.cluster-shape-out
              div.cluster-shape-in
                span.cluster-shape-text HMI
        div.content
