html
  head
  body
    form(ref='uploadForm',name="upload", enctype='multipart/form-data',method="post", action="/upload")
      input(type="file", name='pins')
      br
      button(type='submit') upload
    
