@import "normalize.css";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.menu-container {
  background: linear-gradient(to bottom, #202225, #3e4047);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
}

.nav-container {
  width: 100%;
  height: 65px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-container, .info-container, .map-container {
  height: calc(100% - 65px);
  width: 100%;
  overflow: auto;
}

.nav-item {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item i {
  color: white;
  font-size: 35px;
}

.select-main-container {
  width: 100%;
  height: 100%;
}

.menu-tile {
  width: calc(100% - 32px);
  height: 80px;
  margin: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  animation: tile-animation 0.3s both;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.menu-tile span {
  color: white;
  font-size: 22px;
  font-family: skodaFontRegular;
  text-align: center;
}

.select-sub-container {
  display: none;
}
.select-sub-container h3 {
  padding-left: 16px;
  font-size: 28px;
  opacity: 0.6;
  margin: 16px 0;
}

#tile-1, #sub-1 .menu-tile {
  background-color: #00bfd6;
}

#tile-2, #sub-2 .menu-tile {
  background-color: #ffb81b;
}

#tile-3, #sub-3 .menu-tile {
  background-color: #3737a0;
}

#tile-4, #sub-4 .menu-tile {
  background-color: #a5d400;
}

#tile-5, #sub-5 .menu-tile {
  background-color: #9fa1a2;
}

#tile-6, #sub-6 .menu-tile {
  background-color: #db1367;
}

@keyframes tile-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-tile:nth-child(1) {
  animation-delay: 0.035s;
}

.menu-tile:nth-child(2) {
  animation-delay: 0.07s;
}

.menu-tile:nth-child(3) {
  animation-delay: 0.105s;
}

.menu-tile:nth-child(4) {
  animation-delay: 0.14s;
}

.menu-tile:nth-child(5) {
  animation-delay: 0.175s;
}

.menu-tile:nth-child(6) {
  animation-delay: 0.21s;
}

.menu-tile:nth-child(7) {
  animation-delay: 0.245s;
}

.menu-tile:nth-child(8) {
  animation-delay: 0.28s;
}

.menu-tile:nth-child(9) {
  animation-delay: 0.315s;
}

.menu-tile:nth-child(10) {
  animation-delay: 0.35s;
}

@font-face {
  font-family: skodaFontRegular;
  src: url(Assets.font.SKODANext-Regular.a5cacc2c254e278ece9e83e3649f477c.woff2);
}
@font-face {
  font-family: skodaFontLight;
  src: url(Assets.font.SKODANext-Light.501acc7232cecb34d1f56c60ea59b2a5.woff2);
}
html {
  background: black;
}

body {
  overflow: hidden !important;
}

:root {
  font-size: 2vw;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #444649;
  /* -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); */
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 10rem;
  /* -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); */
}

body {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  font-family: skodaFontLight;
  font-size: 2vw;
  color: white;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

#required-pin, #required-age {
  display: block;
  display: none;
  color: #ff4c61;
  font-family: skodaFontRegular;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.content-container {
  width: 100vw;
  height: 50vw;
  max-height: 100vh;
  max-width: 200vh;
  background-color: #444649;
  height: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vw;
  max-height: 100vh;
  max-width: 200vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow: auto; */
  overflow: hidden;
}

.main-container {
  /* background-color: #2f3136; */
  background-image: linear-gradient(to bottom, #202225, #3e4047);
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar {
  width: 10%;
  height: 100%;
  background-color: #202225;
}

.navbar-item {
  width: 100%;
  height: 20%;
  background-color: #202225;
  border-bottom: 0.1rem solid #2f3136;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item-active {
  background-color: #2f3136;
}
.navbar-item-active i {
  color: #4BA82E;
}

.navbar-item-icon {
  font-size: 2.2rem;
  color: #585858;
}

.navbar-item-cluster {
  margin-top: calc(200% - 0.2rem);
  border: none;
}

.cluster-shape-out {
  width: 80%;
  height: 80%;
  background-color: #2f3136;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster-shape-in {
  width: 77%;
  height: 77%;
  background-color: #2f3136;
  border-radius: 100%;
  border: 0.14rem solid #585858;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 100%;
  background-color: #222222;
  overflow: auto;
}

/* cluster select */
.cluster-select-container {
  background-color: #202225;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cluster-select-shape-out {
  width: 6rem;
  height: 6rem;
  background-color: #2f3136;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster-select-shape-in {
  width: 77%;
  height: 77%;
  background-color: #2f3136;
  border-radius: 100%;
  border: 0.25rem solid #585858;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster-select-shape-text {
  font-size: 1.2rem;
}

/* popup window */
.popup-window {
  width: 50vw;
  height: 30vw;
  max-width: 50vw;
  max-height: 30vw;
  background: #202225;
  position: absolute;
  top: calc(50% - 15vw);
  right: calc(50% - 25vw);
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}

.popup-window-btn-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* inputs */
input {
  border: solid 0.1rem #585858;
  padding: 0 0.4rem;
  font-family: skodaFontLight;
  width: 50%;
}
input[type=text], input[type=number] {
  height: 1.5rem;
}

.password input {
  font-family: sans-serif;
  text-align: center !important;
  width: 70%;
  height: 1.5rem;
}

.btn {
  width: 7rem;
  height: 2.5rem;
  background-color: #585858;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5rem;
  font-family: skodaFontRegular;
}

.btn-confirm {
  background-color: #4BA82E;
}

.btn-decline {
  background-color: #b11f1f;
}

.btn-block {
  width: 100%;
  margin-bottom: 0.4rem;
}

/* animations */
@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2.5em);
  }
  40% {
    transform: translate(-2.5em);
  }
  60% {
    transform: translate(2.5em);
  }
  80% {
    transform: translate(-2.5em);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes grow {
  0% {
    max-height: 0%;
  }
  100% {
    max-height: 100%;
  }
}
.shake {
  animation: shake 0.5s infinite;
}

/* home site */
.quiz-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.quiz-label {
  font-family: skodaFontLight;
  text-align: center;
  margin: 0;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.quiz-select {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: start;
}

.quiz-tile {
  height: 0;
  flex: 0 0 32.5%;
  padding-top: 32.5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-tile-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../img/tile_normal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.5);
  background: #36383e;
}

.quiz-tile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.quiz-tile-name {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  margin: 0.5rem 0;
}

.quiz-tile-img {
  height: 60%;
  width: 60%;
  object-fit: cover;
  display: block;
}

.container {
  display: flex;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
}

.quiz-label-container {
  width: 100%;
  height: 25.5%;
  display: flex;
  align-items: center;
}

/* settings */
.settings-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 75%;
  overflow-y: auto;
}

.settings-list {
  list-style-type: none;
  width: 90%;
  padding: 0;
  margin: 0;
}

.settings-item {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.4rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  background-color: #363636;
  animation: fade-in 0.25s ease-in;
  animation-fill-mode: both;
}

.settings-item:nth-child(1) {
  animation-delay: 0.04s;
}

.settings-item:nth-child(2) {
  animation-delay: 0.08s;
}

.settings-item:nth-child(3) {
  animation-delay: 0.12s;
}

.settings-item:nth-child(4) {
  animation-delay: 0.16s;
}

.settings-item:nth-child(5) {
  animation-delay: 0.2s;
}

.settings-item:nth-child(6) {
  animation-delay: 0.24s;
}

.settings-item:nth-child(7) {
  animation-delay: 0.28s;
}

.settings-item:nth-child(8) {
  animation-delay: 0.32s;
}

.settings-item:nth-child(9) {
  animation-delay: 0.36s;
}

.settings-item:nth-child(10) {
  animation-delay: 0.4s;
}

.settings-item:nth-child(11) {
  animation-delay: 0.44s;
}

.settings-item:nth-child(12) {
  animation-delay: 0.48s;
}

.settings-item:nth-child(13) {
  animation-delay: 0.52s;
}

.settings-item:nth-child(14) {
  animation-delay: 0.56s;
}

.settings-item:nth-child(15) {
  animation-delay: 0.6s;
}

.settings-item:nth-child(16) {
  animation-delay: 0.64s;
}

.settings-item:nth-child(17) {
  animation-delay: 0.68s;
}

.settings-item:nth-child(18) {
  animation-delay: 0.72s;
}

.settings-item:nth-child(19) {
  animation-delay: 0.76s;
}

.settings-item:nth-child(20) {
  animation-delay: 0.8s;
}

.settings-item:nth-child(21) {
  animation-delay: 0.84s;
}

.settings-item:nth-child(22) {
  animation-delay: 0.88s;
}

.settings-item:nth-child(23) {
  animation-delay: 0.92s;
}

.settings-item:nth-child(24) {
  animation-delay: 0.96s;
}

.settings-item:nth-child(25) {
  animation-delay: 1s;
}

.settings-item:nth-child(26) {
  animation-delay: 1.04s;
}

.settings-item:nth-child(27) {
  animation-delay: 1.08s;
}

.settings-item:nth-child(28) {
  animation-delay: 1.12s;
}

.settings-item:nth-child(29) {
  animation-delay: 1.16s;
}

.settings-item:nth-child(30) {
  animation-delay: 1.2s;
}

.settings-item:nth-child(31) {
  animation-delay: 1.24s;
}

.settings-item:nth-child(32) {
  animation-delay: 1.28s;
}

.settings-item:nth-child(33) {
  animation-delay: 1.32s;
}

.settings-item:nth-child(34) {
  animation-delay: 1.36s;
}

.settings-item:nth-child(35) {
  animation-delay: 1.4s;
}

.settings-item:nth-child(36) {
  animation-delay: 1.44s;
}

.settings-item:nth-child(37) {
  animation-delay: 1.48s;
}

.settings-item:nth-child(38) {
  animation-delay: 1.52s;
}

.settings-item:nth-child(39) {
  animation-delay: 1.56s;
}

.settings-item:nth-child(40) {
  animation-delay: 1.6s;
}

.settings-item:nth-child(41) {
  animation-delay: 1.64s;
}

.settings-item:nth-child(42) {
  animation-delay: 1.68s;
}

.settings-item:nth-child(43) {
  animation-delay: 1.72s;
}

.settings-item:nth-child(44) {
  animation-delay: 1.76s;
}

.settings-item:nth-child(45) {
  animation-delay: 1.8s;
}

.settings-item:nth-child(46) {
  animation-delay: 1.84s;
}

.settings-item:nth-child(47) {
  animation-delay: 1.88s;
}

.settings-item:nth-child(48) {
  animation-delay: 1.92s;
}

.settings-item:nth-child(49) {
  animation-delay: 1.96s;
}

.settings-item:nth-child(50) {
  animation-delay: 2s;
}

.settings-results-count {
  margin-right: 0.65rem;
  width: 2rem;
  text-align: right;
}

.settings-results-icon {
  margin-left: 0.45rem;
}

.settings-item-img {
  height: 1.6rem;
  width: 1.6rem;
  display: inline;
  background-size: cover;
  margin-left: 0.45rem;
  border-radius: 0.3rem;
}

.csv-label {
  font-family: skodaFontRegular;
  background-color: #363636;
  float: right;
  font-size: 1rem;
  border-radius: 3rem;
  padding: 0.5rem;
}

.csv-label:after {
  content: "";
  display: table;
  clear: both;
}

#csv-input {
  display: none;
}

.settings-item-name {
  font-family: skodaFontRegular;
  margin-left: 0.45rem;
}

.settings-item-date {
  color: #646464;
  flex-grow: 5;
  text-align: right;
}

.settings-btn {
  height: 1.5rem;
  width: 5rem;
  font-size: 0.8rem;
  margin-left: 0.45rem;
}
.settings-btn:last-child {
  margin-right: 0.45rem;
}

.settings-switch-container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-switch-item {
  height: 50%;
  width: 30%;
  display: inline;
  background-color: #444649;
  text-align: center;
  font-family: skodaFontRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.settings-switch-item-active {
  background-color: #4BA82E;
}

#switch-ankety {
  border-radius: 2rem 0 0 2rem;
}

#switch-quiz {
  border-radius: 0 2rem 2rem 0;
}

.container-settings {
  width: 100%;
  height: 100%;
  display: block;
}

.settings-add {
  width: calc(100% - .9rem);
  height: 1.5rem;
  font-size: 0.8rem;
  margin-left: 0.45rem;
}

/* results page */
.graph-container {
  width: 50%;
  height: 100%;
}

.data-container {
  width: 50%;
  height: 100%;
  background-color: #202225;
}

#bar1 {
  background-color: #74cb46;
}

#bar2 {
  background-color: #ebd812;
}

#bar3 {
  background-color: white;
}

#bar4 {
  background-color: #ff7900;
}

#bar5 {
  background-color: #de1d0e;
}

#bar1, #bar2, #bar3, #bar4, #bar5 {
  width: 3.5%;
  min-height: 1%;
  animation: grow 500ms ease;
  transition: height 1s;
}

.bars {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* padding-top: 10%; */
}

.names {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.names span {
  width: 4rem;
  text-align: center;
}

.data-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.data-list .item {
  border-bottom: 0.1rem solid #2f3136;
  width: calc(100% - 1.8rem);
  margin-left: 0.9rem;
  height: 2rem;
  display: flex;
  align-items: flex-end;
}

.data-name {
  margin-left: 0.9rem;
}

.data-list-item-name {
  color: #969696;
}

.data-list-item-value {
  flex-grow: 50;
  text-align: right;
}

.data-container-excel {
  /* margin-top: 5vw; */
  width: 35vw;
  /* margin-left: 5vw; */
}

.data-container-chart {
  width: 35vw;
}

.results-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
}

.chart {
  height: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.chart:nth-child(2n+0) {
  background: #202225;
}

/* .chart:first-child{
 * *  margin-left: 1rem
 * *}
 * *.chart:last-child{
 * *  padding-right: 1rem;
 * *} */
.chart-span {
  font-size: 1rem;
  font-family: skodaFontRegular;
  text-align: center;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.data-container-excel-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 36%;
  margin-top: 0.9rem;
}

.input-img {
  border: none;
  padding: 0;
  display: none;
}

.input-img-label {
  margin: 0.2rem 0;
  text-align: center;
  height: 1.5rem;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  display: block;
  color: white;
  width: 80%;
  background-color: #2f3136;
  font-family: skodaFontLight;
  border-radius: 1rem;
  /* box-shadow: 0 0 1rem 0.2rem black; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.img-container {
  /* opacity: 0.8; */
  height: 8rem;
  width: 8rem;
  background: #5f6367;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0.2rem 0; */
}

.quizForm {
  width: calc(100% - 4rem);
  margin: 0 2rem;
  margin-top: 2rem;
}

label {
  display: block;
  margin: 0.2rem 0;
  font-size: 1.5rem;
  font-family: skodaFontRegular;
}

textarea {
  display: block;
  resize: none;
  border: solid 0.1rem #585858;
  height: 4.5rem;
  padding: 0.2rem 0.4rem;
  width: 50%;
}
textarea:focus {
  /* border: 1px lightblue solid;
  * *outline: none; */
}

input:focus {
  /* border: 1px lightblue solid;
  * *outline: none; */
}

.delete-icon-container {
  width: 1rem;
  height: 1rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 0.2rem;
}

.delete-icon {
  float: right;
  color: white;
  font-size: 1.5rem;
}

select {
  border: solid 0.1rem #585858;
  padding: 0 0.4rem;
  font-family: skodaFontLight;
  width: 52.5%;
  height: 1.7rem;
}

/* The container */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-left: 2rem;
  /* margin-bottom: .5rem; */
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Hide the browser's default checkbox */
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border: solid 0.1rem #585858;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-label .checkmark:after {
  left: 0.47rem;
  top: 0.2rem;
  width: 0.375rem;
  height: 0.75rem;
  border: solid #585858;
  border-width: 0 0.225rem 0.225rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Style the checkmark/indicator */
/* play anketa */
.desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.desc-name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-data {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc-btn-start {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.desc-popis {
  flex: 0 0 49%;
  padding-left: 1rem;
  min-height: 100%;
}

.hr {
  border-right: #abb5bf solid 0.05rem;
  height: 90%;
}

.user-data {
  flex: 0 0 50%;
  /* padding-top: 1rem; */
  height: calc(100% - 1rem);
  /* padding-left: 1rem; */
}

.desc-title {
  margin: 0;
  font-size: 2.8rem;
  text-align: center;
}

.desc-popis-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.desc-content {
  margin: 1rem;
  color: #c8c8c8;
}

.desc-input-label {
  width: 100%;
  font-family: skodaFontRegular;
  font-size: 1rem;
}

.desc-input {
  display: block;
  line-height: 1.5rem;
  width: calc(100% - .8rem) !important;
  margin: 2rem 0 !important;
  /* margin: 0 1rem; */
  /* *font-family: skodaFontLight;
  * *border-radius: 0.25rem;
  * *border: 0.06rem solid #ced4da;
  * *padding: 0 0 0 0.4rem;
  * *height: 1.5rem; */
}

.desc-select {
  height: 1.8rem;
  width: calc(100% - 1.8rem) !important;
}

.desc-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
}
.desc-button-container button {
  background: none;
  border: 0.3rem solid white;
  color: white;
  border-radius: 5rem;
  padding: 0.4rem 0.8rem;
  font-size: 2.7rem;
  width: 30%;
}

.btn-answer {
  background-color: #414549;
  /* border: none; */
  font-family: skodaFontRegular;
  width: 85%;
  height: 10%;
  /* border-radius: 0.2rem; */
  margin: 0 auto;
  /* border : solid .1rem #4BA82E; */
  /* transition: border .5s ease; */
}
.btn-answer:focus {
  outline: 0;
}

.desc-btn {
  border: none;
  font-family: skodaFontRegular;
  width: 40%;
  position: absolute;
  bottom: 80px;
  /* border-radius: 0.2rem; */
  /* box-shadow: 0px 0.1rem rgb(76, 163, 30); */
  margin: 0 auto;
  font-size: 1.2rem;
}

.btn-container {
  width: 92%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.play {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progressBar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-container-main {
  display: flex;
  height: 70%;
}

.play-arrow {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-img {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-buttons-container {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.question {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-bar-container {
  /* position: relative; */
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* border-bottom: solid 1px rgb(95, 99, 103); */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  align-items: center;
}

.progress-car {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.progress-end {
  height: 100%;
  position: absolute;
  right: 0;
}

.note {
  width: 85%;
  position: relative;
}

.play-textarea {
  width: calc(100% - 2rem);
  font-size: 0.8rem;
  display: block;
  color: white;
  margin: 0;
  font-family: skodaFontLight;
  /* border-radius: 0.25rem; */
  /* border: 0.06rem solid #ced4da; */
  padding: 0.4rem;
  padding-right: 1.6rem;
  height: 3rem;
  resize: none;
  background-color: #414549;
}
.play-textarea::placeholder {
  color: white;
  opacity: 0.6;
}

.note-button {
  position: absolute;
  color: #5f6367;
  right: 0.2rem;
  top: 1rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

#questionImg {
  width: 88%;
  height: 100%;
  object-fit: cover;
}

#left, #right {
  font-size: 8rem;
  color: #4BA82E;
}

.progress-bar-count {
  /* position: absolute; */
  /* right: -1.7rem; */
  /* top: 0.3rem; */
  opacity: 0.8;
  align-self: center;
  width: 10%;
  margin-left: 90%;
  text-align: center;
  z-index: 100;
}

.end {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.end-bnt {
  /* background-color: rgb(116, 203, 70); */
  border: none;
  font-size: 1.2rem;
  font-family: skodaFontRegular;
  width: 45%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-radius: 0.4rem; */
  /* box-shadow: 0px 0.1rem rgb(76, 163, 30); */
}

.statusBar {
  position: relative;
  background: none;
}

.statusBar-dropdown {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/Statusbar2.png") bottom/cover no-repeat;
  background-size: 53rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusBar-button {
  display: none;
  background-color: #414549;
  border: none;
  font-family: skodaFontLight;
  width: 30%;
  height: 2rem;
  /* border-radius: 0.2rem; */
  /* box-shadow: 0px 0.1rem rgb(55,59,63); */
  margin: 0 auto;
}

.progressBar-background {
  display: flex;
  position: relative;
  background-color: #202225;
  width: 100%;
  border-radius: 2rem;
  /* position: absolute; */
  height: 40%;
  /* align-items: center; */
  /* justify-content: flex-end; */
}

.progressBar-foreground {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #4BA82E;
  border-radius: 2rem 0 0 2rem;
}

.checkbox-container {
  display: flex;
  /* align-items: center; */
  height: 1.9rem;
}

[id^=answers-count] {
  margin-bottom: 0.2rem;
}

.input-checkbox-question {
  margin-top: 0.2rem;
}

.confirm-delete {
  width: 50vw;
  height: 30vw;
  max-width: 50vw;
  max-height: 30vw;
  background: #202225;
  position: absolute;
  top: calc(50% - 15vw);
  right: calc(50% - 25vw);
  border-radius: 2.5rem;
  z-index: 10;
  text-align: center;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.confirm-delete-label {
  font-family: skodaFontLight;
  margin: 0;
}

.confirm-btn-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.switch-cluster {
  width: 50vw;
  height: 30vw;
  max-width: 50vw;
  max-height: 30vw;
  background: #202225;
  position: absolute;
  top: calc(50% - 15vw);
  right: calc(50% - 25vw);
  border-radius: 2.5rem;
  z-index: 10;
  text-align: center;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.advanced-settings-btn {
  margin-right: 1rem;
}

.advanced-settings-container {
  color: white;
  text-align: center;
  font-family: skodaFontRegular;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.advanced-settings-checkbox {
  margin: -1rem 0;
}

.advanced-settings .checkbox-container {
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  height: 0.2rem;
  background: #585858;
  width: 50%;
  outline: none;
  padding: 0;
  border: none;
  border-radius: 3rem;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid 0.1rem #585858;
  background: white;
  cursor: pointer;
}

.slider-axis {
  width: calc(50% - .4rem);
  display: flex;
  justify-content: space-between;
  color: gray;
  padding: 0 0.2rem;
}

#q {
  margin: 0 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.play-buttons-container-mps {
  flex: 1 0 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.btn-mps {
  width: 6%;
  background: #414549;
  flex: 0 0 15;
}

.btn-half {
  width: 50%;
}

.submitBtn {
  margin-top: 0.4rem;
}

.graph-container-values {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bar1-value, #bar2-value, #bar3-value, #bar4-value, #bar5-value {
  width: 10%;
  text-align: center;
  opacity: 0.4;
}

.lang-icon {
  width: 5%;
  margin-right: 0.4rem;
}

.lang-icon-container {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.confirm-lang-container {
  width: 47%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.confirm-lang-icon {
  width: 36%;
  height: auto;
  opacity: 0.3;
}

.confirm-lang-icon-selected {
  opacity: 1;
}

#playConfirm {
  padding: 1rem 0;
  height: calc(30vw - 2rem);
}

.lang-switch-container {
  position: absolute;
  width: 4rem;
  height: 1.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lang-switch-icon {
  width: 40%;
  opacity: 0.4;
}

.lang-switch-icon-selected {
  opacity: 1;
}

.chart-graph-container {
  padding-top: 90%;
  width: 90%;
  position: relative;
}

/* [id^='chart']{
 * *  position: absolute;
 * *} */
.chart-graph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* * DOM element rendering detection
 * * https://davidwalsh.name/detect-node-insertion */
@keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
}

/* * DOM element resizing detection
 * * https://github.com/marcj/css-element-queries */
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}

.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}

.btn-small {
  width: 40%;
}

.btn-small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35vw;
  height: 5vw;
}

.admin-menu-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #4BA82E;
  opacity: 0.6;
  margin: 0 0 0.1rem 0.1rem;
}

.add-btn-mps {
  margin-left: 0.4rem;
  width: calc(50% - .4rem);
}

.settings-item-add {
  background-color: #4BA82E;
  animation: none;
  color: white;
  font-family: skodaFontRegular;
  text-align: center;
  border-radius: 5rem;
}
.settings-item-add span {
  margin: 0 auto;
}

.sector-select {
  width: 25%;
}

input[type=number] {
  width: 22.5%;
}

#sector-count {
  margin-bottom: 0.3rem;
}

select[name=sector_count] {
  width: 35%;
}

.content-loading {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}
.content-loading i {
  font-size: 3rem;
  animation: spin 1s infinite;
  color: #4BA82E;
}

.comment-mobile-background {
  display: none;
}

.end-text {
  text-align: center;
}

.lang-icon-container + .lang-icon-container {
  padding-top: 0.2rem;
}

.admin-menu-icon {
  display: none !important;
}

.lang-mobile-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-mobile-foreground {
  display: flex;
  width: 60%;
  height: 60%;
  background: #444649;
  border-radius: 2.5rem;
  justify-content: space-around;
  align-items: center;
}
.lang-mobile-foreground img {
  width: auto;
  height: 40%;
}

#lang-mobile {
  position: absolute;
  right: 2.5%;
  bottom: calc(3vh - 10px);
  font-size: 5vh;
}

.end-btn-container {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 80px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* mobile */
@media (min-width: 0px) and (max-width: 480px) {
  body {
    /* height: 200vh; */
  }

  .content-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .progressBar {
    height: 0.6%;
  }

  .progressBar-background {
    height: 100%;
    border-radius: 0;
  }

  .progress-bar-count {
    display: none;
  }

  .progressBar-foreground {
    border-radius: 0;
  }

  .progress-bar-container {
    width: 100%;
  }

  .note {
    display: none;
  }

  .play-img {
    /* width: 100%; */
    flex: 0 0 100%;
    height: 35%;
  }

  .play-container-main {
    flex-wrap: wrap;
    height: 79.4%;
  }

  .play-arrow {
    order: 3;
  }

  #questionImg {
    width: 55%;
    height: 93%;
  }

  .question {
    height: 20%;
    font-size: 2rem;
  }

  .play-buttons-container {
    flex: 1 0 100%;
    height: 75%;
  }

  .play-arrow {
    flex: 0 0 50%;
    height: 25%;
  }

  #left, #right {
    font-size: 18rem;
  }

  #left {
    margin-right: 6rem;
  }

  #right {
    margin-left: 6rem;
  }

  .desc-data {
    flex-wrap: wrap;
    height: 60%;
  }

  .desc-popis {
    flex: 0 0 100%;
    height: 50%;
    min-height: 50%;
    display: none;
  }

  .user-data {
    flex: 0 0 100%;
    height: 100%;
    min-height: 50%;
    padding: 0 4%;
  }

  .desc-input {
    height: 5rem !important;
    margin: 5px 0;
    border-radius: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
  }

  .desc-input-label {
    font-size: 4rem;
  }

  .desc-name {
    height: 20%;
  }

  .desc-btn-start {
    height: 20%;
    align-items: center;
  }

  .desc {
    flex-wrap: wrap;
  }

  .admin-menu-icon {
    display: none !important;
  }

  .btn-answer {
    /* height: 38px; */
    height: 6vh;
    font-size: 2.5rem;
  }

  .desc-btn {
    width: 70%;
    height: 55px;
    font-size: 3rem;
  }

  .desc-title {
    font-size: 6rem;
    text-align: center;
  }

  .desc-select {
    background: white;
    width: 92% !important;
    height: 5.3rem !important;
  }

  .lang-switch-container {
    display: none;
  }

  .end-bnt {
    height: 55px;
    width: 70%;
    font-size: 3rem;
    margin-top: 4rem;
    padding: 0 25px;
  }

  .main-menu-btn {
    width: 70%;
    height: 51px;
    font-size: 3rem;
  }

  .end-btn-container {
    width: 90%;
    display: flex;
    height: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 4em;
  }

  #comment-mobile {
    bottom: 38px;
    font-size: 8rem;
    position: absolute;
    margin: 0 auto;
    left: calc(50% - 4rem);
  }

  .comment-mobile-background {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .user-data-form {
    padding: 0 3rem;
  }

  .comment-mobile-foreground {
    background-color: gray;
    width: 85vw;
    height: 100vw;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .lang-mobile-background {
    top: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .lang-mobile-foreground {
    background-color: #444649;
    width: 85vw;
    height: 100vw;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .lang-mobile-foreground img {
    width: auto;
    height: 25%;
  }

  .comment-mobile-textarea {
    width: 76vw;
    height: 55vw;
    border: solid 0.1rem #585858;
    resize: none;
    color: white;
    font-family: skodaFontLight;
    background-color: #414549;
    font-size: 3rem;
    padding: 1rem;
  }

  .comment-mobile-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 4rem;
  }

  #lang-mobile {
    position: absolute;
    font-size: 4rem;
    bottom: 10px;
    right: 10px;
  }

  .lang-mobile-icon {
    width: 30%;
  }

  .comment-mobile-btn {
    width: 80%;
    position: absolute;
    bottom: 18px;
    height: 50px;
    font-size: 2.5rem;
  }

  #q {
    font-size: 3rem;
  }

  /* #q{
  * *  text-indent: 3rem;
  * *} */
}
.main-menu-btn {
  display: none !important;
}

.error {
  display: none;
  position: absolute;
  width: calc(100% - 32px);
  margin: 16px;
  background: #3d3f46;
  height: 104px;
  border-radius: 16px;
  border-bottom: #ff4c61 3px solid;
  color: #ff4c61;
  display: flex;
}
.error i {
  font-size: 64px;
  padding: 20px;
}
.error span {
  font-family: skodaFontRegular;
  font-size: 32px;
  margin-top: 16px;
}
.error small {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 84px;
  bottom: 24px;
}

/*# sourceMappingURL=main.css.map */
