.progress-bar{
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #4ba82e;
}
button{
  margin: 0
}

#begin, #play, #finish {
  min-height: calc(var(--vh, 1vh) * 100);
}

#play{
  position: relative;
}

.hide{
  display: none !important;
}

.show{
  display: flex !important;
}
